<html lang="en">
    <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css?family=Spicy+Rice" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <meta htpp-equiv="X-UA-Compatible" content="ie=edge">
      <title><%=title %></title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
              <a class="navbar-brand">Covid-19</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" href="/informacion">Introduccion</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/propagacion">Propagacion</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/sintomas">Sintomas</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="protegerme">Protegerme</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/tratamiento">Tratamiento</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    <!--Cuerpo-->
    <br>
    <div class="container">
      <div class="card text-center">
          <div class="card-header">
            CORONAVIRUS
          </div>
          <div class="card-body">
            <h5 class="card-title">¿Que es el coronavirus?</h5>
            <p class="card-text">La enfermedad del coronavirus 2019 (COVID-19) es una
              afección respiratoria que se puede propagar de persona
              a persona. El virus que causa el COVID-19 es un nuevo
              coronavirus que se identificó por primera vez durante la
              investigación de un brote en Wuhan, China.</p>
          </div>
        </div>
        <br>
        <div class="card text-center">
          <div class="card-header">
            COMPLICACIONES
          </div>
          <div class="card-body">
            <h5 class="card-title">¿Cuáles son las complicaciones graves provocadas por
              este virus?</h5>
            <p class="card-text">Algunos pacientes presentan neumonía en ambos pulmones,
              insuficiencia de múltiples órganos y algunos han muerto. </p>
          </div>
        </div>
    <br>
        <div class="card text-center">
          <div class="card-header">
            TRANSMICION
          </div>
          <div class="card-body">
            <h5 class="card-title">¿Cómo se transmite?</h5>
            <p class="card-text">Se transmite de persona a persona a través de gotitas que expulsa una persona enferma al hablar, toser o estornudar.
              Las gotitas pueden ser inhaladas por las personas que están cerca al enfermo y también quedarse en cualquier tipo de superficie (pasamanos, mesas, lapiceros, entre otros) y ser tocadas por las manos. 
              El virus ingresa a nuestro organismo cuando nos tocamos los ojos, la nariz y la boca con las manos sin lavar.</p>
          </div>
        </div>
        
    </div>

    </body>
      <!--Footer-->
  </html>